body {
  height: 100%;
}
.searchWrapper {
    text-align: center;
    width: 800px;
    margin: 4% auto;
    margin-bottom: 0;
    border: 2px groove rgba(128, 128, 128, 0.507);
    padding: 60px;
}

.searchedWrapper {
    text-align: center;
    width: 360px;
    margin: 4% auto;
    margin-bottom: 0;
    
    padding: 30px;
}

.searchPage {
  position: relative;
}

.overlaySearched {
    text-align: center;
    width: 400px;
    margin: 4% auto;
    margin-bottom: 0;
    color: white;
    border: 2px groove rgba(128, 128, 128, 0.507);
    padding: 30px;
    background-color: rgba(97, 121, 143, 0.801);
    box-shadow: rgba(96, 124, 128, 0.658) 10px 10px 10px;
}

.navbar a {
  color: white;
  transition: .2s ease-in-out;
}

.navbar a:hover {
  color: rgba(146, 178, 197, 0.884);
}

.navbar {

  background-color: rgb(79, 93, 102);
  
  
}

.navbar-toggler {
  background-color: rgba(255, 255, 255, 0.527);
  z-index: 1;
}

.bookInfo {
    width: 50%;
    float: left;
}

.buttonGroup {
    width: 50%;
    float: left;
}

.description {
    clear: both;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(100, 122, 143, 0.459);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #eeeeee;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .viewMore {
    cursor: pointer;
    border: 2px solid rgb(79, 93, 102);
    background-color: rgba(79, 93, 102, 0.644);
    padding: 5px;
    color: white;
    transition: .3s ease-in-out;
  }

  .viewMore:hover {
    color: rgb(56, 57, 58);
    background-color: rgba(79, 93, 102, 0.151)
  }

  .viewDiv {
    padding: 10px;
  }

  .alertDiv {
    width: 100%;
    
   position: sticky;
   top: 0;
}

.fa-remove {
  position: absolute;
  right: 0;
  margin-right: 20px;
  margin-top: -5px;
}

  @media screen and (max-width: 850px) {
    .searchWrapper {
      width: 600px;
  }
  }

  @media screen and (max-width: 650px) {
    .searchWrapper {
      width: 400px;
      padding: 40px;
      font-size: .9em;
  }

  .searchedWrapper {
    width: 400px;
    padding: 20px;
  }
  }

  @media screen and (max-width: 450px) {
    .searchWrapper {
      width: 300px;
      padding: 10px;
      font-size: .8em;
  }

    .hTwo {
      font-size: 1.9em;
    }

    .searchedWrapper {
      width: 300px;
      padding: 10px;
    }
  }
  
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  .searchWrapper {
    background-color: rgb(79, 93, 102);
    box-shadow: rgba(96, 124, 128, 0.658) 10px 10px 10px;
    background-image: url('./imgs/booksTrans3.png');
    color: white;
  }

  .searchWrapper::before {
    content: "";
   
    opacity: 0.5;
  
  }

  .searchBtn {
    margin-top: 40px;
    width: 40%;
    padding: 5px;
  }

  #root {
    height: 100%;
  }

  .allDiv {
    height: 100%;
  }

  .backSearch {
    height: 100%;
    background-image: linear-gradient(rgb(63, 74, 77), white)
  }

  img {
    height: 40vh;

  }

 